body{
 font-family:Arial;
 background:#f2f2f2;
}

.box{
 background:white;
 padding:20px;
 width:300px;
 margin:20px auto;
 border-radius:8px;
 box-shadow:0 0 10px #ccc;
}

input,button{
 width:100%;
 padding:10px;
 margin-top:10px;
}
button{
 background:#ff6600;
 color:white;
 border:none;
}
